# Ignore PSoC Creator temp and user specific files

# Ignore test projects
nRF24_5LP_Tx.cydsn
nRF24_SCB_Tx.cydsn
nRF24_tests.cydsn
nRF24_tests_scb.cydsn
nRF24_UDB_Tx.cydsn

# Ignore Archive directory, project bundles there
Archive/*
Backup/*
Archive/
Backup/

# Projects optional files
*.cydsn/codegentemp/
*.cydsn/Generated_Source/
*.cydsn/Export/
*.cydsn/*.cyfit
*.cydsn/*.rpt
*.cydsn/*.html
*.cydsn/*.cycdx
*.cydsn/*.svd

# PSoC 5LP based projects
*.cydsn/CortexM3/

# PSoC 4 based projects
*.cydsn/CortexM0/


# User specific files
ComponentUpdateLog.txt
*.Xwx47

# Random file
*.cylib/CortexM0/

codegentemp
Generated_Source
CortexM3
CortexM0
Export
*.rpt
*.html
*.svd
*.cyfit
*.Administrator
*.chuck.erhardt
